.main-container {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.exam-container {
    width: 100%;
    height: 90%;
}  
.result-styles {
    display: grid;
    place-items: center;
}
.response-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.action-btn {
    border: none;
    padding: 1rem 3.5rem;
    margin: 0 2rem 2rem 2rem;
    background-color: var(--btn-default-color);
    border-radius: 0.7rem;
    font-weight: 600;
    cursor: pointer;
    color: var(--aux-purple);
    &:hover {
        background-color: var(--btn-default-hover);
        color: var(--default-text-color);
    }
}

@media screen  and (max-width: 600px) {
    
}