<div class="main-container">
    <app-header></app-header>
    <div class="info-container">
        <div class="info">
            <h2>Bem-vindo, {{username}}</h2>
            <p>O teste Focus foi criado para medir sua atenção. Para realizá-lo, leia as instruções abaixo. Boa sorte!</p>
            <div class="gif-content">
                <img id="gif" src="" alt="">
            </div>
            <p>Clique <span id="info-click"></span>, toda vez que <span>a imagem correta aparecer.</span></p>
        </div>
        <div class="img-container">
            <span>Imagem Correta:</span>
            <img id="random-img" src="./assets/triangulo_vazado.png" alt="">
        </div>
    </div>
    <div class="footer">
        <button (click)="redirectExam()">INICIAR</button>
    </div>
    <div class="first-access-panel" *ngIf="firstAcessControl">
        <div class="pass-container">
            <h3>Redefina sua senha abaixo para continuar</h3>
            <div class="input-container">
                <div class="input-content">
                    <label for="password">Senha:</label>
                    <input type="password" id="password" placeholder="Digite sua senha" (keyup.enter)="passUpdate()">
                </div>
                <div class="input-content">
                    <label for="repeat_password">Confirme sua senha:</label>
                    <input type="password" id="repeat_password" placeholder="Digite novamente sua senha" (keyup.enter)="passUpdate()">
                    <img src="./assets/eye_on.png" id="show-pass" alt="" (click)="showPassword()">
                </div>
                <button (click)="passUpdate()">Alterar senha</button>
            </div>
        </div>
    </div>
</div>