.main-container {
    width: 100vw;
    height:100vh;
    display: grid;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    place-items: center;
}
.info-container {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 60% 40%;
}
.info {
    display: flex;
    flex-direction: column;
    padding: 1rem 5rem 0 0;
    gap: 1rem;
    h2 {
        color: var(--aux-purple);
    }
    p:last-child {
        font-size: 1.5rem;
        span {
            font-weight: bold;
            color: var(--aux-purple-secondary);
        }
    }
}
.gif-content {
    display: flex;
    justify-content: center;
    img {
        width: 15rem;
        height: 13rem;
    }
}
.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    img {
        width: 17rem;
    }
}
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    button {
        border: none;
        padding: 1rem 3.5rem;
        margin: 0 2rem 2rem 2rem;
        background-color: var(--btn-default-color);
        border-radius: 0.7rem;
        font-weight: 600;
        cursor: pointer;
        color: var(--aux-purple);
        &:hover {
            background-color: var(--btn-default-hover);
            color: var(--default-text-color);
        }
    }
}
.first-access-panel {
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: rgba(182, 181, 181, 0.733);
    display: grid;
    place-items: center;
}
.pass-container {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 50%;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    h3 {
        color: var(--background-color);
    }
}
.input-container {
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    button {
        width: 50%;
        background-color: var(--background-color);
        border: none;
        border-radius: 0.2rem;
        color: var(--default-text-color);
        padding: 0.5rem 0;
        margin-top: 1rem;
        &:hover {
            background-color: var(--background-color-hover);
        }
    }
}
.input-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    input {
        border: none;
        outline: none;
        background-color: #e4e6e8;
        padding: 0.2rem 0 0.2rem 1rem;
    }
    img {
        width: 1.5rem;
        position: relative;
        bottom: 1.6rem;
        left: 90%;
        cursor: pointer;
    }
}
@media screen and (max-width: 600px) {
    .main-container {
        height: 100%;
    }
    .first-access-panel {
        height: 130%;
    }
    .info-container {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .info {
        padding: 0;
        padding-top: 2rem;
    }
    .img-container {
        margin-bottom: 5rem;
    }
    .action {
        width: 2rem;
    }
    .pass-container {
        width: 90%;
        height: 60%;
        h3 {
            width: 80%;
        }
    }
    .input-container {
        width: 80%
    }
    

}
